<!-- Header -->
<div ng-include="'views/header.tpl.html'"></div>

<!-- Content -->
<div class="container pad-top" style="width:1024px;">
	<div >
		

		<div style="width:1024px;">
			<div id="environmentTitleContainer" >
				<h3>Role: {{roleName}}</h3>
				<br>
			</div>
			<hr />
			<div id="environmentsButtons" style=" float: right; margin-right: 150px; margin-top: 20px;">
				<button class="btn btn-success"
					ng-disabled="!authedUser.adminOn && !role.authorized && !newRole"
					tooltip-placement="bottom"
					tooltip="Save this role"
					ng-click="saveRole()">Save
				</button>
				<button class="btn btn-success"
				ng-show="!newRole"
				ng-disabled="!authedUser.adminOn && !role.authorized"
				tooltip-placement="bottom"
				tooltip="Copy this role"
				ng-click="showCopyRoleOverlayBox()">
				Copy
				</button>
				<button class="btn btn-success"
				tooltip-placement="bottom"
				tooltip="Return to previous page"
				ng-click="back()">
				Back
				</button>
			</div>
		</div>
	</div>
	<br /><br />
<div>
	<div class="row"  >
		<div class="{{rowClass}}">

			<form name="roleForm" novalidate role="form">

				
				
				<!-- grey out or hide unless is a new environment --> 
	            <div class="environmentFormFieldContainer">
	                <label for="roleName" class="environmentFormFieldLabel" control-label">Name *</label>
	
	                <div class="environmentFormField">
	                    <input class="form-control" ng-model="roleName" ng-disabled="roleNameInputDisabled" value="{{roleName}}" required>
	                </div>
	                
	            </div>
				
				<div class="environmentFormFieldContainer">
					<label for="roleDescription" class="environmentFormFieldLabel" control-label">Description</label>

					<div class="environmentFormField">
						<textarea class="form-control" ng-model="roleDescription">{{roleDescription}}</textarea>
					</div>
				</div>
				<br />
				<div class="environmentFormFieldContainer">
	                <label for="ownerGroup" class="environmentFormFieldLabel" control-label">Owner Group *</label>
	
	                <div class="environmentFormField">
	                    <select class="form-control" id="ownerGroups" ng-model="ownerGroupSelected" required ng-options="ownerGroup for ownerGroup in ownerGroups">
	                        <option value="">-- Select Owner Group --</option>
	                    </select><div ng-Show="ownerGroupsLoading" id="ownerGroupsLoading" >loading...</div>
	                </div>
	      		</div>
			</form>
		</div>
	</div>
	<br />
	<hr>

	<div class="container" >
		<h4>Run List</h4>
		Drag roles and recipes to the run list.
		<br />
		<br />
		<div style="float: left;">
			<div style="border: 1px solid #ccc;">
				Roles
				<ul style="width: 300px; height: 200px; overflow: auto; padding:0; margin:0;"

				ui-on-Drop="onDrop($event,$data,roles)">

					<li class="roleDragBox" onmouseover="this.style.background='#ccc';" onmouseout="this.style.background='';"
					ui-draggable="true" drag="role"
					on-drop-success="dropSuccessHandler($event,$index,roles)"
					ng-repeat="role in roles track by $index">
						<div style="border: 1px solid #ccc;">
							{{role.name}}
						</div>
					</li>
				</ul>
			</div>
			&nbsp;
			<div style="border: 1px solid #ccc;">
				Recipes
				<ul style="width: 300px; height: 200px; overflow: auto; padding:0; margin:0;"
				ui-on-Drop="onDrop($event,$data,recipes)">
					<li class="recipeDragBox"
					onmouseover="this.style.background='#ccc';" onmouseout="this.style.background='';"
					ui-draggable="true" drag="recipe"
					on-drop-success="dropSuccessHandler($event,$index,recipes)"
					ng-repeat="recipe in recipes track by $index">
						<div style="border: 1px solid #ccc;">
							{{recipe.name}}
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div style="float: left; margin-left: 150px;">
			<div  style="width: 300px; height: 300px; border: 1px solid #ccc;">
				Run List
				<ul
				ui-on-Drop="onDrop($event,$data,runlist)"
				style="width: 300px; height: 300px; padding:0; margin:0;"
				>

					<li class="roleDragBox"
					ng-class="{'recipeDragBox': runitem.type == 'recipe'} "

					onmouseover="this.style.background='#ccc';" onmouseout="this.style.background='';"
					ui-draggable="true" drag="runitem"
					on-drop-success="dropSuccessHandler($event,$index,runlist)"
					ng-repeat="runitem in runlist track by $index">
						<div style="border: 1px solid #ccc;">
							{{runitem.name}}
						</div>

					</li>
				</ul>
			</div>

		</div>

	</div>
	<br />
	<hr />





	<div  ng-hide="defaultAttributesTreeHidden">

		<div style="float: left;">
			<h4>Default Attributes</h4>
		</div>
		<div style="float: right; margin-right: 100px;">
			<button
			class="btn btn-success"
			ng-click="showAddDefaultAttributeBox('root')"
			ng-disabled="!authedUser.adminOn && !role.authorized">
				&nbsp; Add &nbsp;
			</button>
		</div>

		<div style="clear: both;" >
			<hr />
			<treecontrol class="tree-light"
			tree-model="defaultAttributesTree"
			options="treeOptions"

			selected-node="node2" >

				<span> {{node.key}} <span ng-if="node.value != null">= {{node.value}}&nbsp; <span style="font-size: 10px;">
							<div style="float: right; margin-right: 100px;">
								<button
								class="btn btn-success"
								ng-click="showEditDefaultAttributeBox(node)"
								ng-disabled="!authedUser.adminOn && !role.authorized">
									&nbsp; Edit &nbsp;
								</button>

								<button
								class="btn btn-success"
								ng-click="deleteDefaultAttributesNode(node)"
								ng-disabled="!authedUser.adminOn && !role.authorized">
									&nbsp; Delete &nbsp;
								</button>
							</div> </span></span> <span style="font-size: 10px;" ng-if="node.value == null">&nbsp;
						<div style="float: right; margin-right: 100px;">

							<button
							class="btn btn-success"
							ng-click="showAddDefaultAttributeBox(node)"
							ng-disabled="!authedUser.adminOn && !role.authorized">
								&nbsp; Add &nbsp;
							</button>
							<button
							class="btn btn-success"
							ng-click="deleteDefaultAttributesNode(node)"
							ng-disabled="!authedUser.adminOn && !role.authorized">
								&nbsp; Delete &nbsp;
							</button>
						</div> </span>
					<hr style="margin-top: 6px; margin-bottom: 6px;"/>
				</span>

			</treecontrol>

		</div>
	</div>

	<br />
	<hr />

	<div  ng-hide="overrideAttributesTreeHidden">

		<div style="float: left;">
			<h4>Override Attributes</h4>
		</div>
		<div style="float: right; margin-right: 100px;">
			<button
			class="btn btn-success"
			ng-click="showAddOverrideAttributeBox('root')"
			ng-disabled="!authedUser.adminOn && !role.authorized">
				&nbsp; Add &nbsp;
			</button>
		</div>

		<div style="clear: both;" >
			<hr />
			<treecontrol class="tree-light"
			tree-model="overrideAttributesTree"
			options="treeOptions"

			selected-node="node2" >

				<span> {{node.key}} <span ng-if="node.value != null">= {{node.value}}&nbsp; <span style="font-size: 10px;">
							<div style="float: right; margin-right: 100px;">
								<button
								class="btn btn-success"
								ng-click="showEditOverrideAttributeBox(node)"
								ng-disabled="!authedUser.adminOn && !role.authorized">
									&nbsp; Edit &nbsp;
								</button>

								<button
								class="btn btn-success"
								ng-click="deleteOverrideAttributesNode(node)"
								ng-disabled="!authedUser.adminOn && !role.authorized">
									&nbsp; Delete &nbsp;
								</button>
							</div> </span></span> <span style="font-size: 10px;" ng-if="node.value == null">&nbsp;
						<div style="float: right; margin-right: 100px;">

							<button
							class="btn btn-success"
							ng-click="showAddOverrideAttributeBox(node)"
							ng-disabled="!authedUser.adminOn && !role.authorized">
								&nbsp; Add &nbsp;
							</button>
							<button
							class="btn btn-success"
							ng-click="deleteOverrideAttributesNode(node)"
							ng-disabled="!authedUser.adminOn && !role.authorized">
								&nbsp; Delete &nbsp;
							</button>
						</div> </span>
					<hr style="margin-top: 6px; margin-bottom: 6px;"/>
				</span>

			</treecontrol>

		</div>
	</div>

	<br />
	<hr />


	<div id="roleNodesContainer" >
			<h4>Nodes</h4>
			<table class="table" id="roleNodesTable">
				<tr>
					<th>Name</th>
					<th>Last Report</th>
					<th>Chef Version</th>
					<th>Actions</th>
				</tr>
				
			<tbody ng-repeat="node in nodes">
				<tr>
					<td>{{node.name}}</td>
					<td ng-class="node.ohaiTimeStatus">{{node.ohaiTimeDelta}}</td>
					<td ng-class="node.chefVersionStatus">{{node.chef_packages.chef.version}}</td>
					<td>
						<button class="btn btn-success" 
							ng-disabled="!authedUser.adminOn && !node.authorized"
							ng-click="go('/nodes/'+node.name)"
							>&nbsp; Manage &nbsp;
						</button>
					
						
					</td>
				</tr>
			</tbody>
			</table><center><img  id="loading-spinner"  src="../images/spinner-clock-blue.gif"/></center>
		</div>

</div>

	<hr>
	<footer></footer>
</div>

<div id='addDefaultAttributeOverlay' class='attributeOverlay' ng-show='showAddDefaultAttribute'>
	<div id='addDefaultAttributePopup' class='attributePopup alert alert-dismissable  message-panel'>
   		<div style="width:550px; float: left; ">
        	<div style="align: left;">
                <label for="attributeKey" style="width: 100px; float: left">Type</label>
                <input type="radio" name="defaultAttributeType" ng-model="newNode.type" value="object">&nbsp;Object Container&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="defaultAttributeType" ng-model="newNode.type" value="string" checked>&nbsp;Key/Value Pair<br><br />        
            </div>    		
        </div>
		<div style="width:550px; float: left; ">
        	<div style="align: left;">
                <label for="newAttributeKey" style="width: 100px; float: left">Key</label>
            	<input style="width: 350px; float: right" class="form-control" ng-model="newNode.key" >    
            </div>	
        </div>	
		<div style="width:550px; float: left; margin-top:15px;">
        	<div style="align: left;">
                <label for="newAttributeValue" style="width: 100px; float: left">Value</label>
            	<input style="width: 350px; float: right" class="form-control" ng-model="newNode.value" >   
            </div>	
        </div>
        <div style="width:550px; float: left; margin-top:15px;">
        	<button 
				class="btn btn-success" 
				ng-click="saveNewDefaultAttribute()"
				ng-disabled="!authedUser.adminOn && !role.authorized">
				&nbsp; Save &nbsp;
			</button>
			<button 
				class="btn btn-success" 
				ng-click="hideAddDefaultAttributeBox()"
				ng-disabled="!authedUser.adminOn && !role.authorized">
				&nbsp; Cancel &nbsp;
			</button>
        </div>
	</div>	
</div>


<div id='editDefaultAttributeOverlay' class='attributeOverlay' ng-show='showEditDefaultAttribute'>
	<div id='editDefaultAttributePopup' class='attributePopup alert alert-dismissable  message-panel'>
   		
		<div style="width:550px; float: left; ">
        	<div style="align: left;">
                <label for="attributeKey" style="width: 100px; float: left">Key</label>
            	<input style="width: 350px; float: right" class="form-control" ng-model="newNode.key" >    
            </div>	
        </div>	
		<div style="width:550px; float: left; margin-top:15px;">
        	<div style="align: left;">
                <label for="attributeValue" style="width: 100px; float: left">Value</label>
            	<input style="width: 350px; float: right" class="form-control" ng-model="newNode.value" >   
            </div>	
        </div>
        <div style="width:550px; float: left; margin-top:15px;">
        	<button 
				class="btn btn-success" 
				ng-click="saveDefaultAttributesCurrentNode()"
				ng-disabled="!authedUser.adminOn && !role.authorized">
				&nbsp; Save &nbsp;
			</button>
			<button 
				class="btn btn-success" 
				ng-click="hideEditDefaultAttributeBox()"
				ng-disabled="!authedUser.adminOn && !role.authorized">
				&nbsp; Cancel &nbsp;
			</button>
        </div>
	</div>	
</div>


<div id='addOverrideAttributeOverlay' class='attributeOverlay' ng-show='showAddOverrideAttribute'>
	<div id='addOverrideAttributePopup' class='attributePopup alert alert-dismissable  message-panel'>
   		<div style="width:550px; float: left; ">
        	<div style="align: left;">
                <label for="attributeKey" style="width: 100px; float: left">Type</label>
                <input type="radio" name="overrideAttributeType" ng-model="newNode.type" value="object">&nbsp;Object Container&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="overrideAttributeType" ng-model="newNode.type" value="string" checked>&nbsp;Key/Value Pair<br><br />        
            </div>    		
        </div>
		<div style="width:550px; float: left; ">
        	<div style="align: left;">
                <label for="newAttributeKey" style="width: 100px; float: left">Key</label>
            	<input style="width: 350px; float: right" class="form-control" ng-model="newNode.key" >    
            </div>	
        </div>	
		<div style="width:550px; float: left; margin-top:15px;">
        	<div style="align: left;">
                <label for="newAttributeValue" style="width: 100px; float: left">Value</label>
            	<input style="width: 350px; float: right" class="form-control" ng-model="newNode.value" >   
            </div>	
        </div>
        <div style="width:550px; float: left; margin-top:15px;">
        	<button 
				class="btn btn-success" 
				ng-click="saveNewOverrideAttribute()"
				ng-disabled="!authedUser.adminOn && !role.authorized">
				&nbsp; Save &nbsp;
			</button>
			<button 
				class="btn btn-success" 
				ng-click="hideAddOverrideAttributeBox()"
				ng-disabled="!authedUser.adminOn && !role.authorized">
				&nbsp; Cancel &nbsp;
			</button>
        </div>
	</div>	
</div>

<div id='editOverrideAttributeOverlay' class='attributeOverlay' ng-show='showEditOverrideAttribute'>
	<div id='editOverrideAttributePopup' class='attributePopup alert alert-dismissable  message-panel'>
   		
		<div style="width:550px; float: left; ">
        	<div style="align: left;">
                <label for="attributeKey" style="width: 100px; float: left">Key</label>
            	<input style="width: 350px; float: right" class="form-control" ng-model="newNode.key" >    
            </div>	
        </div>	
		<div style="width:550px; float: left; margin-top:15px;">
        	<div style="align: left;">
                <label for="attributeValue" style="width: 100px; float: left">Value</label>
            	<input style="width: 350px; float: right" class="form-control" ng-model="newNode.value" >   
            </div>	
        </div>
        <div style="width:550px; float: left; margin-top:15px;">
        	<button 
				class="btn btn-success" 
				ng-click="saveOverrideAttributesCurrentNode()"
				ng-disabled="!authedUser.adminOn && !role.authorized">
				&nbsp; Save &nbsp;
			</button>
			<button 
				class="btn btn-success" 
				ng-click="hideEditOverrideAttributeBox()"
				ng-disabled="!authedUser.adminOn && !role.authorized">
				&nbsp; Cancel &nbsp;
			</button>
        </div>
	</div>	
</div>

<div id='copyRoleOverlay' class='attributeOverlay' ng-show='showCopyRoleOverlay'>
	<div id='copyRolePopup' class='attributePopup alert alert-dismissable  message-panel'>
		<h4>Enter a name and server for the role copy</h4><br />
		<div class="form-group" style="margin-bottom: 50px;">
            <label for="copyName" class="{{labelClass}} control-label">Name</label>

            <div class="{{inputClass}}">
                <input class="form-control" ng-model="copyName" >
            </div>
   		</div>
   		
   		<div class="form-group">
                <label for="chefServer" class="{{labelClass}} control-label">Chef Server</label>

                <div class="{{inputClass}}">
                    <select class="form-control" id="chefServer" ng-model="copyRoleChefServer"

                            ng-options="s.displayValue for s in chefServers" ></select>
                </div>
        </div>
		<div style="margin-top: 110px;">
			<button 
				class="btn btn-success" 
				ng-click="saveRoleCopy()"
				ng-disabled="!authedUser.adminOn && !role.authorized">
				&nbsp; Save &nbsp;
			</button>
			<button 
				class="btn btn-success" 
				ng-click="hideCopyRoleOverlayBox()">
				&nbsp; Cancel &nbsp;
			</button>
		</div>
		
	</div>
</div>

<div id='copyRoleOverlay' class='attributeOverlay' ng-show='showCopyRoleOverlay'>
	<div id='copyRolePopup' class='attributePopup alert alert-dismissable  message-panel'>
		<h4>Enter a name and server for the role copy</h4><br />
		<div class="form-group" style="margin-bottom: 50px;">
            <label for="copyName" class="{{labelClass}} control-label">Name</label>

            <div class="{{inputClass}}">
                <input class="form-control" ng-model="copyName" >
            </div>
   		</div>
   		
   		<div class="form-group">
                <label for="chefServer" class="{{labelClass}} control-label">Chef Server</label>

                <div class="{{inputClass}}">
                    <select class="form-control" id="chefServer" ng-model="copyRoleChefServer"

                            ng-options="s.displayValue for s in chefServers" ></select>
                </div>
        </div>
		<div style="margin-top: 110px;">
			<button 
				class="btn btn-success" 
				ng-click="saveRoleCopy()"
				ng-disabled="!authedUser.adminOn && !role.authorized">
				&nbsp; Save &nbsp;
			</button>
			<button 
				class="btn btn-success" 
				ng-click="hideCopyRoleOverlayBox()">
				&nbsp; Cancel &nbsp;
			</button>
		</div>
		
	</div>
</div>
